@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
* {
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior:smooth;
}
body{
/* background:linear-gradient(to right top ,#65dfc9,#6cdaeb); */
background:rgba(0, 0, 0, 0.482) url("img/planet.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
background-attachment: fixed;
background-blend-mode:darken;
/* pointer-events: none; */
user-select: none;
}
/* DESIGNING NAVIGATION BAR */
.img img {
    border-radius: 100%;
    border: solid aqua;
    width: 70px;
    position: fixed;
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px 10px white;
}
.c-img{
    width: 150px;
    height: 150px;
    margin: 0px 10px 0px 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px white;
}

.section{
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap: wrap;

}
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    color: white;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.482);
    font-family: 'Andika', sans-serif;
    font-weight: 600;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.099);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(6px);

}
.title{
    font-size: 35px;
    text-align: center;
}
#dice-no{
    font-size: 200px;
    color: white;
    margin-top: 150px;
    text-shadow: 0px 0px 5px white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#dice-btn{
    text-align: center;
}
#dice-roll{
    font-size: 100px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 255, 255, 0.704);
    text-align: center;
    margin-top: 50px;
    text-shadow: 0px 0px 5px white;
    border-radius:20px;
    box-shadow: 0px 0px 5px white;
}
#again{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 0px 5px white;
    position: relative;

}
#dice-btn :active{
    box-shadow: 0px 0px 20px rgb(0, 255, 106); 
}
.navbar {
    /* background: rgba(0, 0, 0, 0.321) url('img/nav.gif'); */
    background-color: rgba(255, 255, 255, 0.422);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    width: 100vw;
    position: fixed  ;
    top: 0;
    padding: 15px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 3;;
}

.burger {
    display: none;
    position: fixed;
    top: 10px;
    right: 45px;
    z-index: 2;
}
#maintainance{
    filter: brightness();
    width: 100vw;
    height: 200%;
    position: fixed;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(10px);
    text-shadow: 0px 0px 5px rgb(255, 0, 0);
}

.line {
    background-color: white;
    border-radius: 100px;
    width: 27px;
    margin: 5px 3px;
    padding: 3px;
    box-shadow: 0px 0px 5px rgb(4, 4, 4);
}

.navbar ul {
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 10vw;

}

.navbar ul a {
    font-size: 30px;
    font-family: monospace;
    text-decoration: none;
    color: white;
    font-weight: 700;


}
a{
    text-decoration: none;
}
.container:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0px 5px 15px white;
    transition: all 0.3s;
    
}

.icons{
margin-top:1rem;
display: flex;
justify-content:center;
background-color: rgba(255, 255, 255, 0.497);
box-shadow: 0px 0px 10px rgba(204, 145, 218, 0.995);
gap:4rem;
padding: 5px;
border-radius: 10px;
margin: 10px;
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
align-items: center;

}

.icon{
    border-radius: 10px;
    width: 50px;  
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.995);
    background-color: white;
    margin: 1px;
    user-select: none;
}
.insta{
    border-radius: 100px;
}
.icon:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
}
.navbar ul a {
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.navbar ul li:hover {
    transform: scale(1.2, 1.2);
}

.para {
    color: white;
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    text-shadow: 0px 0px 5px white;
    user-select: none;

}
.gmail{
    border-radius: 3px;
}

@media only screen and (max-width:800px) {

    .c-img{
        width: 75px;
        height: 75px;
        margin: 0px 10px 0px 10px;
        padding: 5px;
    }
.section{
    flex-direction: row;
    align-items: center;
}
    .phone-font {
        margin: 5px;
        font-size: 20px;
    }
    .container{
        width: 100px;
        height: 100px;

    }
    .title{
        margin-top: -10px;
        font-size: 16px;
    }

    .navbar ul {
        opacity: 1;
        transition: height 0.5s ;
        height: 120px;
        padding: 5px;
        gap: 2vw;
        flex-direction: column;
        text-align: center;

    }

    .navbar ul a {
        font-size: 20px
    }

    .navbar-resp ul {
        opacity: 0;
        height: 19px;
        gap: 2vw;
        flex-direction: column;
        transition: height 0.8s;
        pointer-events: none;
    }

    .burger {
        display: block;
    }

    .para {
        transition: all 0.8s;
        padding-top: 200px;
        text-align: center;
    }

    .para-resp {
        transition: all 0.5s;
        padding-top: 100px;
        text-align: center;
    }

}